<%= javascript_include_tag 'active_user.js' %>
<script>
$(function () {  
   setTimeout(checkForEvents, 10000);  
}); 

function checkForEvents()
{
    $.getScript('/active_user/home');  
    setTimeout(checkForEvents, 10000);
}

function chatWithLocalUser(user)
{
   window.open('/chat/index?remote=false&user=' + user, "Chat", "top=200, left=200, width=450, height=400");
}

function clearEvents()
{
  var doc = document.getElementById("event_notice");
  doc.innerHTML = "";
}
</script>


<p id="event_notice"> </p>

<% if @fan_requests && @fan_requests.length > 0 %>
  <p>You have pending fan requests. <%= link_to "Show", {action: "show_hide_requests"},{id: "show_hide", method: :post, remote: true} %></p> 
  <p id="fan_requests"></p>
<% end %>

<br>
 <span id="current_time"><b><%= Time.now.strftime("%B %d, %Y") %></b></span> 
<br>
<br>
<div id="header">
 <%= render partial: "shared/search_dropdown" %>
</div>

 
<div id="main_content">
 <div id="main_content_headers">
   <h2 id="updates_header">Fan Updates</h2>
 </div>

 <%= render partial: "shared/updates" %>

<div id="user_actions">
<div id="current_update">
 <% if session[:current_update] && !session[:current_update].empty?%>
  <p><b>Your update</b>: <%= session[:current_update] %>
    <br> 
   <% if session[:current_update_type] == 2 %>
     <%= link_to "Show Responses", {action: "show_hide_responses"},{id: "show_hide_responses", method: :post, remote: true} %>
     <div id="fan_responses"></div>
   <% elsif session[:current_update_type] == 3 %>
     <%= link_to "Show Results", {action: "show_hide_results"},{id: "show_hide_results", method: :post, remote: true} %>
     <div id="fan_vote_results"></div>
   <% end %>
  </p>
 <% end %>
</div>

 <div id="message_form">
  <%= form_tag('/active_user/send_fan_message') do %>
    <%= text_field_tag :message, params[:message], { :placeholder => 'Show a message', :size => 30, :id => 'send_message_field' } %>
    <%= submit_tag "Show", {'id' => 'send_fan_message_button'} %>
  <% end %>
 </div>
 <br>
 <br>
 Or:
 <br>
 <br>
 <div id="question_form">
  <%= form_tag('/active_user/ask_fan_question') do %>
    <%= text_field_tag :question, params[:question], { :placeholder => 'Ask a question', :size => 30, :id => 'question_field' } %>
    <%= submit_tag "Ask", {'id' => 'send_fan_message_button'} %>
  <% end %>
 </div>
 <br>
 <br>
  Or:
 <br>
 <br>
 <div id="poll_form">
  <%= form_tag('/active_user/poll_fans') do %>
    <%= text_field_tag :poll_question, params[:poll_question], { :placeholder => 'Poll Question', :size => 30, :id => 'poll_question_field' } %>
    <%= submit_tag "Poll", {'id' => 'poll_fans_button'} %>
    <br>
    How many options to select from?
    <select id="num_options" name="num_options"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select>   
    <div id="poll_options">
 	<br>
	<input name="option_1" placeholder="Option 1" type='text'></input><br><br>
    </div>
  <% end %>
 </div>
</div>

</div>

<script>
 document.getElementById('num_options').onchange = function() 
 {
     var poll_options = document.getElementById('poll_options');	
     poll_options.innerHTML = "<br>";
     var optionsHTML = "";
     var num = this.value;
     for (var i = 0; i < num; i++) 
     {
        var name = "name=option_" + (i+1).toString();
        poll_options.innerHTML += "<input " + name + " placeholder='Option " + (i+1).toString() + "' type='text'></input>"
  	if (i == 1 || i == 3)
	{
	   poll_options.innerHTML += "<br><br>";
	}
     }
 }

 document.getElementById('chat_link').onclick= function() 
 {
        var user = this.className;
    	window.open('/chat/index?remote=true&user=' + user, "Chat", "top=200, left=200, width=450, height=400");
 }
 
 document.getElementById('delete_fan').onclick= function() 
 {
    var fan = this.className; 
    return confirm("Are you sure you want to delete " + fan + "?");
 }
 
</script>


