<!---------------------------------------------------------------------------
    author: hadleym
    date: 5/3/16
    Property of Hadley Productions
!---------------------------------------------------------------------------->

<script>
$(function () {  
   setTimeout(checkForEvents, 10000);  
}); 

function checkForEvents()
{
    $.getScript('/active_user/event_update');  
    setTimeout(checkForEvents, 10000);
}

function chatWithLocalUser(user)
{
   window.open('/chat/index?remote=false&user=' + user, "Chat", "top=200, left=200, width=450, height=500");
}

function clearEvents()
{
  var doc = document.getElementById("event_notice");
  doc.innerHTML = "";
}
</script>


<p id="event_notice"> </p>

<% if @fan_requests && @fan_requests.length > 0 %>
  <p>You have pending fan requests. <%= link_to "Show", {action: "show_hide_requests"},{id: "show_hide", method: :post, remote: true} %></p> 
  <p id="fan_requests"></p>
<% end %>

<br>
 <span id="current_time"><b><%= Time.now.strftime("%B %d, %Y") %></b></span> 
<br>
<br>
<div id="header">
 <%= render partial: "shared/search_dropdown" %>
</div>

 
<div id="main_content">
<% if session[:mobile_device] %>
 <%= render partial: "shared/user_actions" %>

 <div id="main_content_headers">
   <h2 id="updates_header">Fan Updates</h2>
 </div>
 <%= render partial: "shared/updates" %>

<% else %>
 <div id="main_content_headers">
   <h2 id="updates_header">Fan Updates</h2>
 </div>

 <%= render partial: "shared/updates" %>

 <%= render partial: "shared/user_actions" %>
<% end %>
</div>

<script>
 document.getElementById('num_options').onchange = function() 
 {
     var poll_options = document.getElementById('poll_options');	
     poll_options.innerHTML = "<br>";
     var optionsHTML = "";
     var num = this.value;
     for (var i = 0; i < num; i++) 
     {
        var name = "name=option_" + (i+1).toString();
        poll_options.innerHTML += "<input id='option_field' " + name + " placeholder='Option " + (i+1).toString() + "' type='text'></input><br><br>"
 // 	if (i == 1 || i == 3)
//	{
//	   poll_options.innerHTML += "<br><br>";
//	}
     }
 }

 document.getElementById('chat_link').onclick= function() 
 {
        var user = this.className;
    	window.open('/chat/index?remote=true&user=' + user, "Chat", "top=200, left=200, width=450, height=400");
 }
 
 document.getElementById('delete_fan').onclick= function() 
 {
    var fan = this.className; 
    return confirm("Are you sure you want to delete " + fan + "?");
 }
 
</script>


